/*-----------------*/
/* Utility Classes */
/*-----------------*/

%button {
    display: inline-block;
    padding: 1rem 1.5rem;
    border: solid 1px $medium-gray;
    @extend %default-border-radius;
    background-color: $medium-gray;
    color: #fff;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    @include transition (all 0.4s ease);
    
    &:hover {
        color: #fff;
    }
}

.puzzle-button {
    @extend %button;
    
    &.puzzle-button-white, &.puzzle-button-transparent:hover {
        background-color: #fff;
        border-color: #fff;
    }
    
    &.puzzle-button-black {
        background-color: #000;
        border-color: #000;
    }
    
    &.puzzle-button-transparent {
        background-color: transparent;
        border-color: #fff;
    }
}

.primary-color-background {
    .puzzle-button {
        &.puzzle-button-white {
            background-color: #fff;
            border-color: #fff;
        }
        
        &.puzzle-button-black {
            background-color: #000;
            border-color: #000;
        }
        
        &.puzzle-button-transparent {
            background-color: transparent;
            border-color: #fff;
        }
    }
}

%clearfix {
    &:after {
        clear: both;
        display: table;
        content: " ";
    }
}

%default-border-radius {
    border-radius: 5px;
}

%page-max-width {
    max-width: $max-width;
    margin: 0 auto;
}
