//-----------//
// Variables //
//-----------//

// We try to standardize the sizes for our grid system and media queries.
$size-sm: 480px;
$size-md: 660px;
$size-lg: 850px;
$size-xl: 1024px;

$max-width: 1200px;
$nav-height: 7rem;

// We try to standardize the space between things.
$space-unit: 3rem;
$text-space-unit: 1rem;

// The fonts
$open-sans: 'Open Sans', sans-serif;

// Font weights so we don't have to remember stuff like "semibold" is 600, etc.
$hairline: 100;
$thin: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;

// Colors~!
$light-gray: #eee;
$medium-gray: #aaa;