/*----------*/
/* Comments */
/*----------*/

.comment {
    padding: ($space-unit / 2) ($space-unit / 2 + 0.5rem);
    border-bottom: solid 1px $light-gray;
    list-style: none;
    
    &:last-child {
        border-bottom: 0;
    }
}

.comment-meta {
    a {
        text-decoration: none;
    }
}

.comment-reply-link, #cancel-comment-reply-link {
    @extend %button;
}

.comment-reply-link {
    line-height: 1;
}

#cancel-comment-reply-link {
    padding: 0.5rem;
}

.comment-respond {
    margin-top: 2rem;
}

.comment-form {
    .comment-form-comment, .form-submit {
        margin: 0;
    }
}
