/*------------*/
/* Posts Loop */
/*------------*/

.loop {
    @extend %clearfix;
    padding: $space-unit 0;
    border-top: solid 1px $medium-gray;
    
    &:first-child {
        padding-top: 0;
        border-top: 0;
    }
}
