/*---------*/
/* Sidebar */
/*---------*/

.main-sidebar {
    .sidebar-widget {
        margin: $space-unit 0;
        
        &:first-child {
            margin-top: 10px;
        }
    }
    
    .post-date {
        margin-left: 5px;
    }
    
    ul {
        margin-left: 0;
        list-style: none;
        
        li {
            padding: $text-space-unit 0;
            border-bottom: solid 1px $light-gray;
            
            &:last-child {
                border-bottom: 0;
            }
        }
        
        a {
            text-decoration: none;
        }
    }
}
